.container-header{
  margin-left: auto;
  margin-right: auto;
width: 1200px;
padding: 0 15px;
 display: flex;
  align-items: center;

   @media screen and (min-width: 480px)
 {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (min-width: 768px)
{
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
}
  @media screen and (min-width: 1200px)
{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
}



.scroll-container{
  width: 100%;
    padding-left: 15px;
    padding-right: 15px;

    @media screen and (min-width: 480px)
{
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
}
    @media screen and (min-width: 768px)
{
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (min-width: 1200px)
{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
}



 .container-clients{
       width: 100%;
    padding-left: 15px;
    padding-right: 15px;

    @media screen and (min-width: 480px)
 {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (min-width: 768px)
{
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (min-width: 1200px)
{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
  }
  .container{
   width: 100%;
  padding: 0 15px;

  @media screen and (min-width: 480px)
 {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (min-width: 768px)
{
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
}
  @media screen and (min-width: 1200px)
{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
}

  .container-footer{
  width: 100%;
  padding: 0 15px;
  display: flex;

  @media screen and (max-width: 767.98px)
 {
    flex-direction: column;
}
@media screen and (min-width: 768px) and (max-width: 1199.98px)
{
    flex-wrap: wrap;
    justify-content: space-around;
}
 @media screen and (min-width: 480px)
 {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (min-width: 768px)
{
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
}
  @media screen and (min-width: 1200px)
{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
}


