.container-heading{
  display: flex;
  padding-bottom: 94px;
  width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 114px;

    @media screen and (max-width: 1200px)
{
    display: none;
}
}


.container-heading__list{
  display: flex;

  align-items: center;
  justify-content:space-between;
  margin: auto;
  padding-left: 0px;
}
.container-heading__list li{
  margin-right: 30px;
  position: relative;
  &:last-child {
  margin-right: 0px;
}
}

.container-heading__overlay{
  background-color: var(--we-do-bg);
    bottom: 0;
    position: absolute;
    padding: 27px 0;
    width: 100%;
}
.container-heading__text{
  font-size: 14px;
    line-height: 1.14;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: var(--main-light);
    margin: 0px;
}