.projects__list{
  justify-content: center;
    display: flex;
    margin-bottom: 50px;
    padding: 0px;
@media screen and (max-width: 767.98px)
{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 40px;
}
@media screen and (min-width: 768px) and (max-width: 1199.98px)
 {
    margin-bottom: 30px;
}

}
.projects__button{
  margin-left: 8px;

  @media screen and (max-width: 767.98px)
{
    margin-bottom: 15px;
}
  
}


.project__text, .project-last__text {
  font-family: 'Roboto',sans-serif ;
  color: var(--scroll-text);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.card-projects-list{
display: inline-flex;
text-align: center;
margin-top: 30px;
}
.card-projects .li{
  margin-right: 30px;
}
.project__text, .project-last__text{
  margin: 0px;
}

.project{
padding: 20px 24px;
    border: 1px solid var(--card-border);

    @media screen and (min-width: 768px) and (max-width: 1199.98px)
{
    padding-bottom: 56px;
}

}
.project-last{
  border: 1px solid var(--border-header);
margin-right: 0px;
padding: 20px 24px;
text-align: left;
}